# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.classpath
*.project
*.prefs

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
/android/**/gradle-wrapper.jar
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/**/GeneratedPluginRegistrant.java

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
.flutter-plugins-dependencies
.DS_Store

# Original assets
assets/icons/*
!/assets/icons/p_*

/assets/icons/titles/*
!/assets/icons/titles/p_*

/assets/icons/bottom-nav/*
!/assets/icons/bottom-nav/p_*


/assets/icons/fav/*
!/assets/icons/fav/p_*

/assets/icons/settings/*
!/assets/icons/settings/p_*


/assets/images/*
!/assets/images/p_*

!/assets/images/ribbons/
!/assets/images/backgrounds/
!/assets/images/home-cards/
!/assets/images/home-header/
!/assets/images/fav-buttons/
!/assets/images/social-buttons/

/assets/images/backgrounds/*.svg
!/assets/images/backgrounds/p_*
/assets/images/fav-buttons/*
!/assets/images/fav-buttons/p_*
/assets/images/home-cards/light/*
/assets/images/home-cards/dark/*
!/assets/images/home-cards/light/p_*
!/assets/images/home-cards/dark/p_*


# Exclude some assets
!assets/json/

# Google Service File
android/app/google-services.json
GoogleService-Info.plist